<h2>Edit comment</h2>

<%= form_with(model: [@post, @comment], local: true) do |form| %>
  <p>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %>